.header {
  display: flex;
  height: auto;

  position: sticky;
  top: 0;

  background-color: #2f80ed;
  color: white;

  padding: 5px 40px;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 1rem;
}
