.screen {
  height: 90vh;
  margin: 0;

  padding: 3% 5% 0 5%;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: auto;
  column-gap: 30px;
  justify-items: stretch;
  align-items: flex-start;
}

.menu {
  grid-column-start: 2;
  grid-column-end: 4;

  height: 80%;

  border-radius: 5px;
  background-color: #f2f2f2;
}

.menu h1 {
  font-size: 36px;
  padding-left: 2rem;
}

.redirects {
  display: flex;
  flex-direction: column;
}

.redirects a {
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 90%;

  text-decoration: none;
  color: black;
  font-size: 24px;

  border-radius: 10px;
  background-color: transparent;
}

.redirects a:hover {
  background-color: #e0e0e0;
}
